@page "/reminders"
@using CSharpToDo.Shared.Utilities

<PageTitle>Reminders</PageTitle>

<h3>Reminders</h3>

<AdminToolbar Create="OnCreate"
			  DataProvider="_dataProvider"
			  Edit="OnEdit"
			  EntityTypeName="Reminder"
			  Refresh="RefreshAsync"
			  SelectedItem="_selectedItem"
			  ShowDelete="true"
			  ShowSearchField="false"
			  TItem="Reminder" />

<PDTable @ref="_table"
		 AutoLoad="false"
		 DataProvider="_dataProvider"
		 DoubleClick="OnEdit"
		 KeyField="t => t.Id"
		 PageCriteria="_pageCriteria"
		 SelectionMode="TableSelectionMode.Single"
		 SelectionChanged="OnSelectionChanged"
		 ShowPager="false"
		 TItem="Reminder">

	<PDColumn Field="t=> t.Name"
			  ShowInDelete="(_)=> true"
			  Sortable="true"
			  TItem="Reminder">

			  <EditTemplate>
				  <input type="text" name="NameInput" @bind-value="context.Name"/>
			  </EditTemplate>
	</PDColumn>

	<PDColumn Field="t=> t.Description"
			  ShowInDelete="(_)=> true"
			  Sortable="true"
			  TItem="Reminder">

		<EditTemplate>
			<input type="text" name="DescriptionInput" @bind-value="context.Description" />
		</EditTemplate>
	</PDColumn>

	<PDColumn Field="t=> t.DueUtc"
			  ShowInCreate="(_)=> true"
			  ShowInDelete="(_)=> true"
			  ShowInEdit="(_)=> true"
			  Sortable="true"
			  TItem="Reminder"
			  Title="Due Date">

		<Template>
			<p>@DateDisplayLogic.GetFormattedDate(context.DueUtc, true)</p>
		</Template>
		<EditTemplate>

			<input type="datetime-local" name="DueDateInput" min="@DateTime.Now.ToString("s")" @bind-value="context.DueUtc"/>
		</EditTemplate>
	</PDColumn>

	<PDColumn Field="t=> t.CreatedUtc"
			  ShowInCreate="(_)=> false"
			  ShowInDelete="(_)=> false"
			  ShowInEdit="(_)=> false"
			  Sortable="true"
			  TItem="Reminder"
			  Title="Time Created">
		<Template>
			<p>@DateDisplayLogic.GetFormattedDate(context.CreatedUtc, false)</p>
		</Template>
	</PDColumn>
</PDTable>

<EditDialog @ref="_editDialog"
			TItem="Reminder"
			DataProvider="_dataProvider"
			Refresh="@(()=> RefreshAsync())"
			Size="ModalSizes.Medium"
			Table="_table"
			TitleWidth="200">
</EditDialog>

