@page "/reminders"

<PageTitle>Reminders</PageTitle>

<h3>Reminders</h3>

<AdminToolbar Create="OnCreate"
			  DataProvider="_dataProvider"
			  Edit="OnEdit"
			  EntityTypeName="Reminder"
			  Refresh="RefreshAsync"
			  SelectedItem="_selectedItem"
			  ShowDelete="true"
			  ShowSearchField="false"
			  TItem="Reminder" />

<PDTable @ref="_table"
		 AutoLoad="false"
		 DataProvider="_dataProvider"
		 DoubleClick="OnEdit"
		 KeyField="t => t.Id"
		 PageCriteria="_pageCriteria"
		 SelectionMode="TableSelectionMode.Single"
		 SelectionChanged="OnSelectionChanged"
		 ShowPager="false"
		 TItem="Reminder">

	<PDColumn Field="t=> t.Name"
			  ShowInDelete="(_)=> true"
			  Sortable="true"
			  TItem="Reminder" />

	<PDColumn Field="t=> t.DueUtc"
			  ShowInCreate="(_)=> true"
			  ShowInDelete="(_)=> true"
			  ShowInEdit="(_)=> true"
			  Sortable="true"
			  TItem="Reminder"
			  Title="Due Date">
		<!--TODO: Add better date entry and prevent dates before the current from being entered-->
		<Template>
			@if (context.DueUtc == DateTime.Today)
			{
				<p>Today at @context.DueUtc.ToString("HH:mm")</p>
			}
			else if (context.DueUtc.Year == DateTime.Now.Year)
			{
				<p>@context.DueUtc.ToString("dd\\t\\h MMM HH:mm")</p>
			}
			else
			{
				<p>@context.DueUtc.ToString("dd\\t\\h MMM yyyy HH:mm")</p>
			}
		</Template>
	</PDColumn>

	<PDColumn Field="t=> t.CreatedUtc"
			  Format="yyyy-MM-dd HH:mm"
			  ShowInCreate="(_)=> false"
			  ShowInDelete="(_)=> false"
			  ShowInEdit="(_)=> false"
			  Sortable="true"
			  TdClass="text-nowrap"
			  TItem="Reminder"
			  Title="Time Created" />
</PDTable>

<EditDialog @ref="_editDialog"
			TItem="Reminder"
			DataProvider="_dataProvider"
			Refresh="@(()=> RefreshAsync())"
			Size="ModalSizes.Medium"
			Table="_table"
			TitleWidth="200" />

